Page{
    background: rgb(233, 232, 232);
  }
  .block{
    border: 2px solid rgb(228, 228, 228);
    border-radius: 20px;
  }
//    .bottom-block{
//     //  position: fixed;
//     //  bottom: 0;
//     //  width: 90%;
//    }

   .cc {
    width:70%;
    height: 300rpx;
   }