<div class="container-fluid">


    <div class="card mb-4 bg-gray">
        <div class="box-auto">
            <h4 class="margin-40">报价详情</h4>
        </div>
    </div>

    <div class="row">

            <!-- Area Chart -->
            <div class="col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold txt-black border-left-primary">&nbsp;报价信息</h6>
                    <a routerLink="/quotationCenter" class="txt-black"><i class="fa fa-angle-left margin-right"></i>返回</a>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                <div class="border-dep-gray" *ngIf='quoteinfo !==null'>
                    <div class="flex-row">
                        <span class="bg-dep-gray txt-black detail-wh margin-right-20 border-bottom-white">公司名称</span><span>{{quoteinfo.corporate_name}}</span>
                    </div>
                    <div class="flex-row">
                        <div class="flex-4">
                            <span class="bg-dep-gray txt-black padding-four-words margin-right-20">订单编号</span><span>{{quoteinfo.quotenumber}}</span>
                        </div>        
                        <div class="flex-4">
                            <span class="bg-dep-gray txt-black padding-three-words margin-right-20">车架号</span><span>{{quoteinfo.vincode}}</span>
                        </div>
                        <div class="flex-4">
                            <span class="bg-dep-gray txt-black padding-two-words margin-right-20">备注</span><span>{{quoteinfo.information}}</span>
                        </div>    
                    </div>
                    <div class="flex-row"><span class="border-bottom-white border-box"></span></div>
                    <div class="flex-row">
                        <div class="flex-1">
                            <span class="bg-dep-gray txt-black padding-four-words margin-right-20">报价时间</span><span>{{quoteinfo.quote_time}}</span>
                        </div>        
                        <div class="flex-2">
                            <span class="bg-dep-gray txt-black padding-two-words margin-right-20">车型</span><span>{{quoteinfo.carmodel}}</span>
                        </div>  
                    </div>
                    <div class="flex-row"><span class="border-bottom-white border-box"></span></div>
                    <div class="flex-row margin-bottom-3">
                        <div class="flex-1">
                            <span class="bg-dep-gray txt-black padding-three-words margin-right-20">报价员</span><span>{{quoteinfo.quote_person}}</span>
                        </div>        
                        <div class="flex-2">
                            <span class="bg-dep-gray txt-black padding-four-words margin-right-20">发票需求</span><span class="txt-red"  *ngIf='quoteinfo.invoice_demand=="是"'>需要发票</span>
                        </div>
                    </div>
                </div>
                </div>
            </div> 
            </div>
            
    </div>
    <div class="row">

            <!-- Area Chart -->
            <div class="col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold txt-black border-left-primary">&nbsp;报价处理</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="container-fluid">
                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead class="bg-gray text-center">
                                    <tr>
                                    <th>序号</th>
                                    <th>配件名称</th>
                                    <th>零件号</th>
                                    <th>数量</th>
                                    <th>品质/品牌</th>
                                    <th>备货时间</th>
                                    <th>质保期</th>
                                    <th>单价</th>
                                    <th>备注信息</th>
                                    <th>新增</th>
                                    </tr>
                                </thead>
                                <tbody class="h5" *ngFor='let item of fittinglist; let i=index'>
                                    <tr>
                                        <td [attr.rowspan]='item.count' class="text-center">{{i+1}}</td>
                                        <td [attr.rowspan]='item.count'> 
                                           {{item.name}}
                                            <!-- <img src="{{uploadpath}}resource/{{res.peijian}}" class="icon-30"> -->
                                        </td>
                                        <td [attr.rowspan]='item.count'><span class="table-box">{{item.id}}</span></td>
                                        <td>
                                            <div>{{item.quantity}}</div>
                                        </td>
                                        <td>
                                            <!-- <div class="table-box">{{item.quality}}</div> -->
                                            <input type="text" class="table-box" [(ngModel)]='item.quality'>
                                            <!-- <ng-template *ngIf='count>1==true'>
                                                {{item.quality}}
                                            </ng-template> -->
                                        </td>
                                        <td>
                                            <!-- <div class="table-box">{{item.standby_time}}</div> -->
                                            <input type="text" class="table-box"  [(ngModel)]='item.standby_time'>
                                        </td>
                                        <td>
                                            <!-- <div class="table-box">{{item.guarantee}}</div> -->
                                            <input type="text" class="table-box"  [(ngModel)]='item.guarantee'>
                                        </td>
                                        <td>
                                            <!-- <div class="table-box">{{item.price}}</div> -->
                                            <input type="text" class="table-box"  [(ngModel)]='item.price'>
                                        </td>
                                        <td>
                                            <!-- <div class="table-box">{{item.remarks_infor}}</div> -->
                                            <input type="text" class="table-box" [(ngModel)]='item.remarks_infor'>
                                        </td>
                                        <td>
                                            <div>
                                                <button class="btn btn-primary h5 addBtn" (click)="addQuote(item)">
                                                    <a>新增一条报价</a>
                                                </button>
                                            </div> 
                                        </td>
                                    </tr>
                                    <ng-container  *ngIf='item.count>1'>
                                        <tr *ngFor='let list of data' >
                                            <td>{{list.addlist.quantity}}</td>
                                            <td>{{list.addlist.quality}}</td>
                                            <td>{{list.addlist.standby_time}}</td>
                                            <td>{{list.addlist.guarantee}}</td>
                                            <td>{{list.addlist.price}}</td>
                                            <td>{{list.addlist.remarks_infor}}</td>
                                            <td>
                                                <div>
                                                    <button class="btn btn-danger h5 addBtn" (click)="deleteQuote(list)">
                                                        <a>删除该报价</a>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                     </ng-container>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                    </div> 
                </div>
            </div>
            </div>
    </div>

    <div class="row margin-top-40">

        <!-- Area Chart -->
        <div class="col-lg-12">
        <div class="card show mb-4">
                <div class="card-body flex-row box-auto flex-bottom">
                <button class="btn btn-primary padding-left-50 padding-right-50" (click)="saveQuote()"><a>提交报价</a></button>
                </div>
        </div> 
        </div>
        
    </div>

</div>