
.bg-pal-red {
    background: #F76C5E;
}

.bg-dep-yellow {
    background: #F1A208;
}

.bg-pal-yellow {
    background: #D5C67A;
}

.bg-pal-green {
    background: #06A77D;
}

.cursor-po{
    cursor: pointer;
}