<div class="container-fluid">
        
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card mb-4 bg-gray">
        <div class="box-auto">
           <h4 class="margin-40">管理中心</h4>
        </div>
      </div>
     

      <div class="card-body">
        <div class="margin-bottom-20" role="group" aria-label="...">
            <button type="button" class="btn-active btn-default no-border border-tlb padding-left-40 padding-right-40 txt-d-gray" (click)='myAccount($event)'>我的账户</button>
            <button type="button" class="btn-default no-border border-tlb padding-left-40 padding-right-40 txt-d-gray" (click)='address($event)'>地址管理</button>     
            <button type="button" class="btn-default no-border border-tlb-r padding-left-40 padding-right-40 txt-d-gray" (click)='myachievement($event)'>我的业绩</button>     
        </div> 
        <div class="toggleBox2 box-hide">

            <div>
                <button type="button" class="btn btn-default border-primary margin-bottom-20 txt-primary"  data-toggle="modal" data-target="#myModal" (click)='newadd()'>
                    <i class="fa fa-plus"></i>
                    新增地址
                </button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" #myModal role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content margin-top-t">
                            <div class="modal-header box-auto no-border">
                                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
                                <h4 class="" id="myModalLabel">新增地址</h4>
                            </div>
                            <div class="modal-body">
                                <form name="item">
                                    <div class="form-group">
                                        发货地区：<input type="text" name='region' [(ngModel)]='item.region' class="input-box border-gray-1 padding-left-10">
                                    </div>
                                    <div class="form-group">
                                        发货地址：<input type="text" name='address' [(ngModel)]='item.address'  class="input-box border-gray-1 padding-left-10">
                                    </div>
                                    <div class="form-group">
                                        发货员：<input type="text" name='employee_name' [(ngModel)]='item.name' class="input-box border-gray-1 margin-left-16 padding-left-10">
                                    </div>
                                    <div class="form-group">
                                        电话：<input type="tel" maxlength="11" (keyup)='inputphone()' ng-pattern="/^1[3|4|5|7|8]\d{9}$/" name='phonenumber' [(ngModel)]='item.phonenumber' class="input-box border-gray-1 margin-left-32 padding-left-10">
                                       
                                    </div>
                                    <div class="form-group">
                                        是否默认：<input type="checkbox" name='morenaddress' [(ngModel)]='item.morenaddress' style="-webkit-appearance: radio;" >
                                    </div>
                                </form>
                                <div *ngIf='isshow' style="color: red;">
                                    电话号码输入错误，请重新输入！
                                </div>
                                </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" (click)='quxiao(item)' data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" (click)='saveAddress(item)'  >保存</button>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="table-responsive">
                        <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                            <thead class="bg-gray">
                            <tr>
                                <th>序号</th>
                                <th>发货地址</th>
                                <th>发货详细地址</th>
                                <th>发货员</th>
                                <th>电话</th>
                                <th>是否默认地址</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody *ngFor='let item of data'>
                                <tr>
                                    <td class="tab-mid">{{item.index+1}}</td>
                                    <td class="tab-mid">{{item.region}}</td>
                                    <td class="tab-mid">{{item.address}}</td>
                                    <td class="tab-mid">{{item.name}}</td>
                                    <td class="tab-mid">{{item.phonenumber}}</td>
                                    <td class="tab-mid">
                                        <div *ngIf='item.morenaddress==true'>是</div>
                                        <div *ngIf='item.morenaddress==false'>否</div>
                                        <div *ngIf='item.morenaddress!=true && item.morenaddress!=false'>{{item.morenaddress}}</div>
                                    </td>
                                    <td class="tab-mid">
                                        <button class="btn btn-primary" (click)='editAddress(item)'  data-toggle="modal"  data-target="#myModal"><a>修改</a></button><br>
                                        <button class="btn txt-primary" (click)='deleteAddress(item)'><a>删除</a></button><br>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="flex-row flex-column" *ngIf='pageList.length>1'>
                        <ul class="pagination cursor-pointer">
                            <li class="margin-10 padding-10">共{{length}}条</li>
                            <li class="border-gray-1 margin-10 padding-10" role='button' (click)="fristPage()">
                                <a >
                                    <span aria-hidden="true">首页</span>
                                </a>
                                </li>
                            <li class="border-gray-1 margin-10 padding-left-17 padding-right-17" role='button'  (click)="Previous()">
                                <a class="h3">
                                <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="border-gray-1 margin-10 padding-left-17 padding-right-17" *ngFor="let page of pageList"  
                            [ngClass]="{pagActive: isActivePage(page)}" role='button'  (click)='selectPage(page)' style="line-height: 36px;">
                                <a>{{page}}</a>
                            </li>
                            <li class="border-gray-1 margin-10 padding-left-17 padding-right-17" role='button'  (click)="Next()">
                                <a class="h3">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                                </li>
                            <li class="border-gray-1 margin-10 padding-10" role='button' (click)="lastPage()">
                                <a >
                                    <span aria-hidden="true">尾页</span>
                                </a>
                                </li>
                            </ul>
                    </div>
            </div>

            

        </div>
      </div>
    </div>
    
    <div>

        
    </div>

    <div class="flex-row toggleBox1">
        <div class="margin-right-40" style="width: 625px;">
            <div class="row">
                <!-- Area Chart -->
                <div class="col-lg-12">
                    <div class="card shadow mb-4">
                        
                        <!-- Card Body -->
                        <div class="card-body" *ngIf='employeeinfo!=null'>
                            
                            <div class="card-body  flex-row" *ngFor='let item of employeeinfo'>
                                <div class="flex-center margin-right-40">
                                    <img src="{{uploadpath}}employee/{{item.photo}}" *ngIf='item.photo!=""' class="icon-85" />
                                    <img src="{{uploadpath}}resource/{{res.touxiang}}" *ngIf='item.photo==""'  class="icon-85" />
                                </div>
                                <div class="flex-3">
                                    <h5>{{item.name}} <span class="h6 margin-left-10">{{item.position_name}}</span></h5>
                                    <p class="h5">{{item.enterprise.name}}</p>
                                    <div class="h6">
                                        <span class="margin-right-40">
                                            <img src="{{uploadpath}}resource/{{res.authentication}}" class="icon-25 margin-right-10" style="background-blend-mode:lighten;" />已认证
                                        </span>
                                        <span>
                                            <img src="{{uploadpath}}resource/{{res.return}}" class="icon-25 margin-right-10" />包退换
                                        </span>
                                    </div>
                                </div>
                            </div>

                           
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="toggleBox3 box-hide">
        <div class="row">
    
            <!-- Area Chart -->
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold txt-black border-left-primary">&nbsp;搜索条件</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div>
                        
                            <div class="flex-row">
                                <div class="flex-4">
                                    <span class="txt-black padding-four-words margin-right-20">订单编号</span>
                                    <input type="text" class="input-box border-gray-1 text-center" name='orderno' [(ngModel)]='obj.orderno' >
                                </div>
                                <div class="flex-4">
                                    <span class="txt-black padding-four-words margin-right-20">开始时间</span>
                                    <input type="date" class="input-box border-gray-1 text-center" name='start_time' [(ngModel)]='obj.start_time'>
                                </div>        
                                <div class="flex-4">
                                    <span class="txt-black padding-four-words margin-right-20">结束时间</span>
                                    <input type="date" class=" border-gray-1 text-center input-box " name='end_time'   [(ngModel)]='obj.end_time'>
                                </div>  
                            </div>
                            <div class="text-right margin-bottom-20">
                                <button class="btn-active no-border border-tlb-r padding-left-40 padding-right-40 margin-left-20 margin-top-40" (click)='reset()'>重置</button>
                                <button class="btn-active no-border border-tlb-r padding-left-40 padding-right-40 margin-left-20 margin-top-40" (click)='search(obj)'>查询</button>
                            </div>
                            <hr>
                        </div>

                        <div class="card-body">
                                <div class="container-fluid">

                                    <div class="margin-bottom-20 toggleBtns" role="group" aria-label="...">
                                        <button type="button" class="btn-active btn-default no-border border-tlb padding-left-40 padding-right-40 txt-d-gray" (click)='myAll($event)'>全部</button>
                                        <button type="button" class="btn-default no-border border-tlb padding-left-40 padding-right-40 txt-d-gray" (click)='myfinish($event)'>已完成</button>     
                                        <button type="button" class="btn-default no-border border-tlb padding-left-40 padding-right-40 txt-d-gray" (click)='myreturn($event)'>待退款</button>     
                                        <button type="button" class="btn-default no-border border-tlb-r padding-left-40 padding-right-40 txt-d-gray" (click)='myyitui($event)'>已退款</button>     
                                    </div> 
                                    <div class="margin-10">订单总额：<span class="txt-red">￥{{totalMoney}}</span></div>
                                    <!-- DataTales Example -->
                                    <div class="card shadow mb-4">

                                    <div class="card-body">
                                        <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead class="bg-gray text-center">
                                                <tr>
                                                <th>序号</th>
                                                <th>订单编号</th>
                                                <th *ngIf='bb==true'>退货编号</th>
                                                <th>客户名称</th>
                                                <th>交易完成时间</th>
                                                <th>交易金额</th>
                                                <th>订单状态</th>
                                                </tr>
                                            </thead>
                                            <tbody class="h5 text-center">
                                                <tr *ngFor='let list of data'>
                                                   <td>{{list.index+1}}</td>
                                                   <td>{{list.orderno}}</td>
                                                   <td *ngIf='bb==true'>{{list.returnno}}</td>
                                                   <td>{{list.receiver}}</td>
                                                   <td>{{list.finish_time}}</td>
                                                   <td>{{list.totalamount}}</td>
                                                   <td>{{list.order_status_name}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        </div>
                                    </div>
                                    </div>
                                </div> 
                                <div class="flex-row flex-column" *ngIf='pageList.length >1'>
                                    <ul class="pagination cursor-pointer">
                                        <li class="margin-10 padding-10">共{{length}}条</li>
                                        <li class="border-gray-1 margin-10 padding-10" role='button' (click)="fristPage()">
                                            <a >
                                                <span aria-hidden="true">首页</span>
                                            </a>
                                        </li>
                                        <li class="border-gray-1 margin-10 padding-left-17 padding-right-17" role='button'  (click)="Previous()">
                                            <a class="h3">
                                            <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="border-gray-1 margin-10 padding-left-17 padding-right-17" *ngFor="let page of pageList"  
                                        [ngClass]="{pagActive: isActivePage(page)}" role='button'  (click)='selectPage(page)' style="line-height: 36px;">
                                            <a>{{page}}</a>
                                        </li>
                                        <li class="border-gray-1 margin-10 padding-left-17 padding-right-17" role='button'  (click)="Next()">
                                            <a class="h3">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                        <li class="border-gray-1 margin-10 padding-10" role='button' (click)="lastPage()">
                                            <a >
                                                <span aria-hidden="true">尾页</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                        </div>
                    </div>
                </div> 
            </div>
            
        </div>
    </div>

</div>
