<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>员工业绩</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a routerLink=''>首页</a></li>
              <li class="breadcrumb-item"><a routerLink='/setting'>管理中心</a></li>
              <li class="breadcrumb-item active">员工业绩</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
  
    <!-- Main content -->
    <section class="content">
  
  
  
      <div class="row">
        <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="card card-info">
            <div class="card-header bg-gray-d">
              <h3 class="card-title">员工业绩信息</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form class="form-horizontal">
              <div class="card-body">
                <div class="row">
                  <div class="form-group  col-lg-3 col-md-4  col-sm-5">
                      <label for="inputEmail3" class=" col-form-label col-form-label-sm">员工姓名</label>
                      <select class="form-control col-form-label-sm" id="inputEmail3" [(ngModel)]='name' name='name'>
                          <option value="" selected>全部</option>
                          <option value="{{item.id}}" *ngFor='let item of allenterprise' >{{item.name}}</option>
                      </select>
                  </div>
                  <div class="form-group   col-lg-3 col-md-4  col-sm-5">
                      <label for="inputEmail3" class=" col-form-label col-form-label-sm">手机号码</label>
                      <input type="text" class="form-control col-form-label-sm" id="inputEmail3"  [(ngModel)]='mobile'  name='mobile'/>
                  </div>
                  <div class="form-group   col-lg-3 col-md-4  col-sm-5">
                      <label for="inputEmail3" class=" col-form-label col-form-label-sm">订单编号</label>
                      <input type="text" class="form-control col-form-label-sm" id="inputEmail3"   [(ngModel)]='orderno'  name='orderno'/>
                  </div>
                  <div class="form-group   col-lg-3 col-md-4  col-sm-5">
                      <label for="inputEmail3" class=" col-form-label col-form-label-sm">开始时间</label>
                      <input type="date" class="form-control col-form-label-sm" [(ngModel)]='datefrom' [max]='dateto' name='dateto'/>
                  </div>
                  <div class="form-group   col-lg-3 col-md-4  col-sm-5">
                      <label for="inputEmail3" class=" col-form-label  col-form-label-sm">结束时间</label>
                      <input type="date" class="form-control col-form-label-sm" [(ngModel)]='dateto' [min]='datefrom' name='datefrom'
                      [max]='today' />
                  </div>
                 
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer text-right">
                <button type="submit" class="btn btn-defalut bg-gray" (click)='reset()'>重置</button>
                <button type="submit" class="btn btn-primary margin-left-20" (click)='search()'>搜索</button>
              </div>
              <!-- /.card-footer -->
            </form>
          </div>
          <!-- /.card -->
  
  
        </div>
      </div>
  
  
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
                <div class="float-left">
                    <div>
                        <button type="submit" class="btn {{type==''?'btn-primary':'btn-default'}} margin-right-10" (click)='changtype("")'>全部</button>
                        <button type="submit" class="btn {{type=='N'?'btn-primary':'btn-default'}} margin-right-10" (click)='changtype("N")'>已完成</button>
                        <button type="submit" class="btn {{type=='Y'?'btn-primary':'btn-default'}} margin-right-10" (click)='changtype("Y")'>已退款</button>
                     </div>
        
                     <div class="margin-top">订单总额：<span class="txt-red"> ￥{{totalMoney}}</span></div>
          
                </div>
            
              <div class="card-tools">
                <ul class="pagination pagination-sm ">
                    <li class="page-item"><span class="page-link" (click)='Previous()'>&laquo;</span></li>
                    <li class="page-item" *ngFor='let i of pageList'><span class="page-link {{selPage==i?'bg-primary':''}}"
                        (click)='changedate(i)'>{{i}}</span></li>
                    <li class="page-item"><span class="page-link" (click)='Next()'>&raquo;</span></li>
                </ul>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table class="table text-center">
                <thead>
                  <tr>
                    <th>序号</th>
                    <th >订单编号</th>
                    <th *ngIf='type=="Y"'>退货编号</th>
                    <th>客户名称</th>
                    <th>交易完成时间</th>
                    <th>交易金额</th>
                    <th>订单状态</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let item of data'>
                    <td>{{item.index+1}}</td>
                    <td>{{item.orderno}}</td>
                    <td *ngIf='type=="Y"'>
                    {{item.returnno}}
                    </td>
                    <td>{{item.receiver}}</td>
                    <td>{{item.finish_time}}</td>
                    <td>{{item.order_status=='N'?item.totalamount:item.return_money}}</td>
                    <td>{{item.order_status=='N'?'已完成':'已退款'}}</td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-defalut bg-gray" (click)='back()'>返回</button>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
  
        </div>
      </div>
  
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  