<ion-header>
  <ion-toolbar class="bg_top">
    <ion-title>退货管理</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-row flex-center margin-left-10">
      <div class="h8 btnss txt-d-gray {{btnscolor==1?'btn-active':''}}" (click)='yuangong(1)'>全部</div>
      <div  class="h8 btnss txt-d-gray {{btnscolor==2?'btn-active':''}}" (click)='yuangong(2)'>待退货</div>
      <div  class="h8 btnss txt-d-gray {{btnscolor==3?'btn-active':''}}" (click)='yuangong(3)'>退货中</div>
      <div  class="h8 btnss txt-d-gray {{btnscolor==4?'btn-active':''}}" (click)='yuangong(4)'>已退货</div>
  </div>
  
  <div class="margin-10 padding-10 border-gray-1 "  *ngFor='let item of data'>
    <div class="flex-row flex-center"> 
      <div class="h8">订单编号：{{item.order_orderno}}</div>
      <div class="flex-1"></div>
      <div class="h8">退货金额：￥{{item.return_money}}</div>
    </div>
    <div class="flex-row flex-center">
      <div class="h8">退货单号：{{item.returnno}}</div>
      <div class="flex-1"></div>
      <div class="h8" *ngIf='isshow'>退货状态：{{item.orderstatus_name}}</div>
    </div>
    <div class="flex-row flex-center">
      <div class="h8">申请人：{{item.employee_id_name}}</div>
      <div class="flex-1"></div>
      <div class="h8">申请时间：{{item.return_time}}</div>
    </div>
    <div class="flex-row flex-center">
      <div class="h8">公司名称：{{item.enterprise_id_name}}</div>
      <div class="flex-1"></div>
      <div class="h8 cha" (click)='tiaozhuan(item)'>查看详情</div>
    </div>
    
  </div>
</ion-content>