
<div style="width: 50%;margin: 0 auto;">

    <div class="flex-row flex-center bg-btn padding-20">
        <img src="{{uploadpath}}resource/{{res.fanhui}}" (click)='back()' class="icon">
        <div class="flex-1"></div>
        <div class="txt-white">退货订单</div>
        <div class="flex-1"></div>
    </div>

    <div class='flex-row flex-center margin-top-20'>

        <div class='flex-row flex-column flex-1'  (click)='bindchange("A")'>
          <div class=' txt-bold flex-1 text-center {{change=="A"?"txt-blue":""}}'>待退货</div>
          <div class='order {{change=="A"?"bg-blue":"bg-white"}}'></div>
        </div>
      
        <div class='flex-row flex-column flex-1 ' (click)='bindchange("B")'>
          <div class='txt-bold flex-1 text-center {{change=="B"?"txt-blue":""}}'>已退货</div>
          <div class='order {{change=="B"?"bg-blue":"bg-white"}}'></div>
        </div>
      
      </div>
      <div class='borderbottom'></div>
      
      <div class=" " *ngIf="change=='A'">
      
        <!-- 我的退换订单-->
      
      
      
        <div class='flex-row flex-column' *ngIf="returnlist.length==0">
          <img class='null_icon1 padding-40 ' src='{{uploadpath}}resource/{{res.nullchange}}' />
          <div class=''>暂时没有退换订单</div>
        </div>
      
        <!--待退换-->
        <div class='box padding-20' *ngFor="let item of returnlist" (click)="bindtui(item.id)" >
          <div class='flex-row  margin-top-30 '>
            <div class='h5'>退货单号：</div>
            <div class="h5">{{item.returnno}}</div>
            <div class='flex-1'></div>
            <div class='margin-right-30'>{{item.orderstatus_name}}</div>
          </div>
          <div class="flex-row flex-center flex-wrap margin-top-10">
            <div class=' txt-black' *ngFor='let iitem of item.tuihuoitem;let idx=index;' >{{idx==0?'':'、'}}{{iitem.name}}</div>
          </div>
          <div class=' margin-top-10'>{{item.carmodel}}</div>
          <div class='flex-row  margin-top-30'>
            <div class=' '>申请退换时间：</div>
            <div class=' '>{{item.return_time}}</div>
          </div>
        </div>
      
      </div>
      
      <div class=" " *ngIf="change=='B'">
        <!-- 我的退换订单-->
        <div class='flex-row flex-column' *ngIf="yituihuan.length==0">
          <img class='null_icon1 padding-40 ' src='{{uploadpath}}resource/{{res.nullchange}}' />
          <div class=''>暂时没有退换订单</div>
        </div>
      
        <!--已退换-->
       <div class='box padding-20' *ngFor="let item of yituihuan"  (click)="bindtui(item.id)" >
          <div class='flex-row  margin-top-30 '>
            <div class='h5'>退货单号：</div>
            <div class="h5">{{item.returnno}}</div>
            <div class='flex-1'></div>
            <div class='margin-right-30'>已退换</div>
          </div>
          <div class="flex-row flex-center flex-wrap margin-top-10">
            <div class=' txt-black' *ngFor='let iitem of item.tuihuoitem;let idx=index;' >{{idx==0?'':'、'}}{{iitem.name}}</div>
          </div>
          <div class=' margin-top-10'>{{item.carmodel}}</div>
          <div class='flex-row  margin-top-30'>
            <div class=' '>申请退换时间：</div>
            <div class=' '>{{item.return_time}}</div>
          </div>
        </div>
      
      
      
      </div>

</div>
