.top {
    background-color: #282be7;
    height: 300px;
  }
  
  .apply {
    background-color: #143779;
  }
  .left{
    margin-left: 120px;
  }
  
  .gbtn {
    height: 30px;
    width: 90px;
     line-height: 30px;
    border-radius: 10px;
  }
  
  .margin-block{
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid rgb(228, 227, 227);
  }
  .under-block{
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px; 
  }