
<div class="bg-white" style='width:50%;margin:0 auto;'>


    <div class="flex-row flex-center bg-btn  padding-20">
        <!-- <img src="{{uploadpath}}resource/{{res.fanhui}}" (click)='back()' class="icon"> -->
        <div class="flex-1"></div>
        <div class="txt-white">我的</div>
        <div class="flex-1"></div>
    </div>
    <div class="bg-btn padding-20">
        <div class="flex-row  flex-center">
      
          <img class='icon-60 radius-50;' src='{{uploadpath}}enterprise/{{operatorinfo.enterprise.logo}}' />
      
          <div class="margin-left-20">
           <div class="txt-white h4  ">{{operatorinfo.enterprise.name}}</div>
            <div class="txt-white  h5 margin-top-10">{{operatorinfo.name}}【{{operatorinfo.position=='B'?'老板':'员工'}}】</div> 
          </div>
      
          <!-- <img class='icon-17 margin-right-40 margin-top-80 ' (click)='bindright' src='{{uploadpath}}resource/{{res.whiteright}}'> -->
        </div>
      </div>
      
      <div class=' flex-row margin-top-30 '>
        <div class='borderleft'></div>
        <div class='margin-left-10 txt-black txt-bold'>账户余额</div>
      </div>
      
      <div class='flex-row flex-center margin-top-30'>
        <div class=' margin-left-50 h3 txt-orange txt-bold'>{{operatorinfo.enterprise.account_money}}</div>
        <div class='h5 txt-black margin-left-30  flex-1'>额度</div>
      
      
      
        <div class='bg-btn text-center  gbtn margin-right-40' *ngIf='operatorinfo.position=="B"' (click)="bindaccount()">查看明细</div>
      
      
      </div>
      <!-- <div class='h5 txt-black margin-left-50  '>账户余额</div> -->
      <div class='bott margin-top-20'></div>
      
      
      
      
      <div class='flex-row  flex-center margin-block' (click)="bindorder()">
        <img class='icon ' src='{{uploadpath}}resource/{{res.order}}' />
        <div class=' flex-1 margin-left-20  txt-black txt-bold'>我的订单</div>
        <img class='icon-17    ' src='{{uploadpath}}resource/{{res.smallright}}' />
      </div>
      
      <div class='flex-row flex-center margin-block' (click)="bindaddress()">
        <img class='icon ' src='{{uploadpath}}resource/{{res.address}}' />
        <div class=' flex-1 margin-left-20 txt-black txt-bold'>我的地址</div>
        <img class='icon-17    ' src='{{uploadpath}}resource/{{res.smallright}}' />
      </div>
      
      
      <div class='flex-row flex-center margin-block' (click)="bindauth()" *ngIf='operatorinfo.position=="B"'>
        <img class='icon ' src='{{uploadpath}}resource/{{res.authority}}' />
        <div class=' flex-1 margin-left-20 txt-black txt-bold'>我的下级</div>
        <img class='icon-17    ' src='{{uploadpath}}resource/{{res.smallright}}' />
      </div>
      
      
      <div class='flex-row flex-center margin-block' (click)="bindjilu()" >
        <img class='icon ' src='{{uploadpath}}resource/{{res.account}}' />
        <div class=' flex-1 margin-left-20 txt-black txt-bold'>交易记录</div>
        <img class='icon-17    ' src='{{uploadpath}}resource/{{res.smallright}}' />
      </div>
      
      <div class='flex-row  flex-center margin-block' (click)="bindchange()">
        <img class='icon' src='{{uploadpath}}resource/{{res.change}}' />
        <div class=' flex-1 margin-left-20 txt-black txt-bold'>配件退货</div>
        <img class='icon-17    ' src='{{uploadpath}}resource/{{res.smallright}}' />
      </div>
      
      <div class='flex-row  flex-center margin-block' (click)="bindaboutus()">
        <img class='icon' src='{{uploadpath}}resource/{{res.about}}' />
        <div class=' flex-1 margin-left-20 txt-black txt-bold'>关于我们</div>
        <img class='icon-17    ' src='{{uploadpath}}resource/{{res.smallright}}' />
      </div>
      
      <div class='flex-row  flex-center margin-block' (click)="bindhelp()">
        <img class='icon' src='{{uploadpath}}resource/{{res.help}}'/>
        <div class=' flex-1 margin-left-20 txt-black txt-bold'>帮助反馈</div>
        <img class='icon-17    ' src='{{uploadpath}}resource/{{res.smallright}}'/>
      </div>
      
      <div class='flex-row  flex-center under-block ' (click)="logout()">
        <img class='icon' src='{{uploadpath}}resource/{{res.outlogin}}'/>
        <div class=' flex-1 margin-left-20 txt-black txt-bold'>退出登录</div>
        <img class='icon-17     ' src='{{uploadpath}}resource/{{res.smallright}}'/>
      </div>

</div>
