

<div style="width:50%;margin: 0 auto">


    <div class="flex-row flex-center bg-btn padding-20">
        <img src="{{uploadpath}}resource/{{res.fanhui}}" (click)='back()' class="icon">
        <div class="flex-1"></div>
        <div class="txt-white">关于我们</div>
        <div class="flex-1"></div>
    </div>

    <div style="height:122px"></div>
    <div class="flex-row flex-column">
      <img src="{{uploadpath}}aboutus/{{aboutus.logo}}" class="img">
      <div  class="h5 txt-black" style="padding:34px;opacity:0.6;line-height:48px;">  {{aboutus.summary}}</div>
    </div>
</div>
