@function rpx($px) {
  @return ($px * 100vw) / 414;
}
.btnss {
  width: 20%;
  border: rpx(1) solid #cccccc;
  // font-size: rpx(16);
  text-align: center;
  padding: rpx(5) 0;
}
.btn-active {
  background:  #007bff;
  color: #ffffff;
  border-color: #007bff;
}
.cha{
  width: 28%;
  padding: rpx(5) 0;
  background: #4e73df;
  color: #ffffff;
  text-align: center;
  border-radius: rpx(10);
}