.bg {
    margin: 10px;
    height: 210px;
    // width: 354px;
    border-radius: 4px;
  }
  
  .pageone {
    background: rgb(241, 241, 241);
    height: 100%;
    width: 100%;
  }
  
  .content {
    height: 300px;
    width: 95%;
    border-radius: 10px;
  }
  .yue{
    padding-top: 100px;
  }
  
  .yuan{
    border-radius:15px;
  }
  .types {
    color: #143779 !important;
  }
  
  