<div class="card mb-4 bg-gray text-center">
    <div class="box-auto">
        <h4 class="margin-40">添加配件</h4>
    </div>
</div>

<div class="margin-left-20 margin-top-40 margin-bottom-10">
    <button routerLink="/find" type="button"
        class="btn-default no-border border-tlb-r padding-left-40 padding-right-40 bg-white">
        <a class="txt-d-gray"><i class="fa fa-angle-left margin-right"></i>返回</a>
    </button>
</div>

<div class="margin-top-20 margin-left-20">
    <div class="txt-bold  ">{{biaoti}}</div>
    <div>{{vin}}</div>
</div>

<div class=' margin-top-20 text-center'>
    <div class=' btn flex-row flex-center txt-black'>
        <div class='flex-row margin-left-10'>
            <img class='icon ' src='{{uploadpath}}resource/{{res.search}}' (click)="bindpart()" />
        </div>
        <input class="input flex-1 h5  margin-left-10 margin-right-10" placeholder-class="opa5" placeholder='请输入配件名称...'
            focus='true' [(ngModel)]="neiron">
        <div class='margin-right-10'>
            <img class='icon ' src='{{uploadpath}}resource/{{res.delect}}' bindtap='binddelect' />
        </div>
    </div>
</div>



<!-- <div zooming="true" direction="xy" style="width: 200px; height: 200px;overflow: auto;">
    <div
        style="width: 500px; height: 500px; background: url('http://www.runoob.com/try/demo_source/Europe_geological_map-en.jpg') repeat">
    </div>
</div> -->


<div class="flex-row">
    <!--左侧-->
    <div style="overflow: auto;width: 200px; height: 500px;" class="left  padding-20 ">
        <div class="txt-black">已添加配件</div>

        <div class="flex-row column" *ngFor='let item of addlist;let i=index'>
            <div class="margin-top-30 flex-row flex-top">
                <div class=" btnb chaochu h6">{{item.name}}</div>
                <img class="icon " (click)='bindclear(i,item.id)' style="margin-left:-10px;" src="{{uploadpath}}resource/{{res.quchu}}" />
            </div>
        </div>

    </div>



    <!--右侧-->
    <div class="right padding-20 margin-left-30" style="overflow: auto;width: 200px; height: 500px;">
        <div class="txt-black  ">请选择</div>

        <div *ngFor='let item of groupslist;let i=index' (click)='bindadd(i,item.url,item.pid,item.label)'>
            <div *ngIf='item.check==true'>
                <div class="txt-red  margin-top-20">{{item.label}}</div>
                <div class="h6">({{item.pid}})</div>
                <div class="bot"></div>
            </div>
        </div>

    </div>

</div>