
<div style="width:50%;margin:0 auto;">

  <div class="flex-row flex-center bg-primary padding-20">
    <img src="{{uploadpath}}resource/{{res.fanhui}}" (click)='back()' class="icon">
    <div class="flex-1"></div>
    <div class="txt-white">待付款</div>
    <div class="flex-1"></div>
</div>

<div class="flex-row flex-center padding-20 bg-primary" style=" ">
    <div class="flex-1"></div>
    <img src="{{uploadpath}}resource/{{res.timeicon}}" class="icon-25" />
    <div class="txt-white margin-left-10">请尽快付款</div>
    <div class="flex-1"></div>
  </div>
  
  <div class=" bg-white  padding-20   flex-row flex-center"  >
  
    <img class='icon-30 margin-right-20 ' src='{{uploadpath}}resource/{{res.zuobiao}}'/>
    <div class=" flex-1">
      <div class=" flex-row flex-bottom">
        <div class="txt-black  ">{{detail.receiver}}</div>
        <div class="  margin-left-30  h5">{{detail.receivecontact}}</div>
      </div>
      <div class="txt-black h5 margin-top-10">{{detail.receiveaddress}}</div>
  
    </div>
    
  
  </div>
  
  <div class="margin-top-20 bg-white  ">
  
  
    <div class="flex-row flex-center padding-20">
      <img src="{{uploadpath}}resource/{{res.store}}" class="icon-30 margin-right-20"/>
      <div class="txt-black">{{detail.enterprise_id_name}}</div>
    </div>
  
    <div class="margin-20" *ngFor='let item of detail.orderitem;let idx=index;'  style=" ">
  
      <div class="flex-row flex-top">
        <div class="txt-black">{{idx+1}}.</div>
        <div class="txt-bold txt-black flex-1 margin-left-10">{{item.parts}}</div>
  
        <!-- <img class="icon   margin-right-30" id="{{item.id}}" bindtap="deleteshop" src="{{uploadpath}}resource/{{res.quchu}}"> -->
  
      </div>
  
      <div class="flex-row flex-bottom margin-top-20 margin-left-20">
        <div class=" h6">【{{item.quality}}】</div>
        <div class="txt-red txt-bold margin-left-20">￥{{item.price}}</div>
        <div class="h6 margin-left-10">x{{item.qty}}</div>
      </div>
  
      <div style="height:40px;"></div>
  
  
    </div>
  
  
  
  </div>
  
  <div class="margin-top-20 padding-20 bg-white  ">
  
    <div class="flex-1 txt-black h5 txt-bold">订单信息</div>
  
    <div class="flex-row flex-center margin-top-20" style=" ">
      <div class="h5" style="width:200px;">订单编号：</div>
      <div class="h5">{{detail.orderno}}</div>
    </div>
  
    <div class="flex-row flex-center margin-top-20" style=" ">
      <div class="h5" style="width:200px;">VIN:</div>
      <div class="h5">{{detail.vin}}</div>
    </div>
  
      <div class="flex-row flex-top margin-top-20" style=" ">
      <div class="h5" style="width:200px;">车型:</div>
      <div class="h5 flex-1">{{detail.carname}}</div>
    </div>
  
    <div class="flex-row flex-center margin-top-20" style=" ">
      <div class="h5" style="width:200px;">创建时间：</div>
      <div class="h5">{{detail.order_time}}</div>
    </div>
   
  
  </div>
  
  
  
  <div class="bg-white bott">
    <div class="flex-row flex-center padding-20">
      <div class="flex-1"></div>
      <div class="txt-black ">应付：</div>
  
      <div class="flex-row flex-bottom margin-right-30">
        <div class="h6 txt-red">¥</div>
        <div class="txt-red margin-left-10  ">{{detail.totalamount}}</div>
      </div>
  
      <div class="bgjie text-center txt-white" (click)="bindbuy(detail.totalamount)">付款</div>
    </div>
    <div style="height:20px;"></div>
  </div>

</div>