@function rpx($px) {
  @return ($px * 100vw) / 414;
}

.btnss {
  width: 20%;
  border: rpx(1) solid #cccccc;
  // font-size: rpx(16);
  text-align: center;
  padding: rpx(5) 0;
}
.btn3 {
  width: 30%;
  border: rpx(1) solid #cccccc;
  text-align: center;
}
.btn-active {
  background:  #007bff;
  color: #ffffff;
  border-color: #007bff;
}
.btns {
  width: 20%;
  border: rpx(1) solid #cccccc;
  // font-size: rpx(16);
  text-align: center;
  // padding: rpx(5) 0;
}

.disname {
  display: inline-block;
  width: rpx(100);
  height: rpx(40);
  border: rpx(1) solid #8A8A8A;
  color: #8A8A8A;
  border-radius: rpx(30);
  line-height: rpx(40);
  text-align: center;
  margin-right: rpx(10);
  margin-top: rpx(30);
}

.disname-active {
  color: #446AD8;
  border-color: #446AD8;
}
.mask {
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: 0.3;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}
.dizhi{
  position: fixed;
  top: 0;
  left: 0;
  // width: 60%;
  background: #ffffff;
  z-index: 20;
  padding: rpx(10) rpx(20);
}
.btn1 {
  width: rpx(100) ;
  height: rpx(40);
  border-radius: rpx(30);
  line-height: rpx(40);
  color: #ffffff;
  background: red;
   margin: rpx(20) 0;
}
.btn2 {
  width: rpx(100) ;
  height: rpx(40);
  border-radius: rpx(30);
  line-height: rpx(40);
  color: #ffffff;
  background: #007bff;
  margin: rpx(20) 0;
}