<ion-header>
  <ion-toolbar>
    <img src="{{uploadpath}}resource/{{res.fanhui}}" (click)='back()' class='icon-10'>
    <ion-title>报价详情</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="" *ngFor='let item of tempinfo;let i=index;'>
    <div class="shadow padding-10 margin-20" *ngIf='i==0'>
      <div *ngIf='i==0'
        class="card-header bg-white py-3 no-border d-flex flex-row align-items-center justify-content-between padding-10">
        <h6 class="m-0 font-weight-bold txt-black border-left-primary">&nbsp;报价信息</h6>
      </div>
      <div *ngIf='i==0'>
        <div class="h8">公司名称：{{item.enterprise_id_name}}</div>
        <div class="h8">地<span class="h8 margin-left-30">址</span>：{{item.enterprise_corporate_address}}</div>
        <div class="h8">下&nbsp; 单&nbsp; 员：{{item.employee_id_name}}</div>
        <div class="h8">电<span class="h8 margin-left-30">话</span>：{{item.employee_mobile}}</div>
        <div class="h8">报价编号：{{item.quotenumber}}</div>
        <div class="h8">车&nbsp; 架&nbsp; 号： <span class="h8" *ngIf='item.vincode!=""'>{{item.vincode}}</span>
          <span class="h8" *ngIf='item.vincode==""'>无识别</span></div>
        <div class="h8">车<span class="h8 margin-left-30">型</span>：<span class="h8"
            *ngIf='item.carmodel!=""'>{{item.carmodel}}</span>
          <span class="h8" *ngIf='item.carmodel==""'>无识别</span></div>
        <div class="h8">品<span class="h8 margin-left-30">质</span>：<span class="h8" *ngIf='item.pinzhi==""'>无</span>
          <span class="h8" *ngIf='item.pinzhi!=""'>{{item.pinzhi}}</span></div>
        <div class="h8">询价时间：{{item.quote_time}}</div>
        <div class="h8">备<span class="h8 margin-left-30">注</span>：<span class="h8"
            *ngIf='item.information!=""'>{{item.information}}</span>
          <span class="h8" *ngIf='item.information==""'>无</span></div>
        <div class="h8">发票需求：<span class="txt-red h8" *ngIf='item.invoice_demand_value=="是"'>需要发票</span>
          <span class="h8" *ngIf='item.invoice_demand_value=="否"'>不需要发票</span></div>
        <div class="flex-row flex-center" *ngIf='show==true'>
          <div class=" h8">图片附件：</div>
          <div style='color:#3d61b4;cursor: pointer;' class="h8" 
            (click)='showPhoto2(item)'>查看图片</div>
        </div>
        <div class="flex-row flex-center" *ngIf='item.invoice_demand_value=="是"'>
          <div class=" h8">发票税率：</div>
          <select [(ngModel)]="selectedSite" class="h8">
            <option *ngFor='let item of ratetype' value="{{item.name}}">{{item.name}}</option>
          </select>
        </div>
        <div *ngIf='photoshow2==true'>
          <div class="carousel-item active" *ngFor='let iimgs of item.arr2;let k=index;'>
      
            <div class=" {{seq==k?'zoomImage':''}}" [style.background-image]="'url('+uploadpath+'quote/'+iimgs+')'">
            </div>
          </div>
          <!-- <div class="carousel-item" style="height: 100%;"
            *ngIf='item.namesplate!="" && item.namesplate!="undefined"'>
      
            <div class="zoomImage" [style.background-image]="'url('+uploadpath+'quote/'+item.namesplate+')'">
            </div>
          </div>
          <div class="carousel-item" style="height: 100%;"
            *ngIf='item.rearofcar!="" && item.rearofcar!="undefined"'>
      
            <div class="zoomImage" [style.background-image]="'url('+uploadpath+'quote/'+item.rearofcar+')'">
            </div>
          </div>
          <div class="carousel-item" style="height: 100%;" *ngFor='let photos of item.arr;let k=index;'>
        
            <div class="zoomImage" [style.background-image]="'url('+uploadpath+'quote/'+photos+')'"></div>
          </div> -->
           <!-- 左右切换按钮 -->
          
            <div class="zuo" (click)='pre()'><img src="{{uploadpath}}resource/{{res.arrowl}}" class="anjian"/></div>
         
          
            <div class="you"  (click)='nex()'><img src="{{uploadpath}}resource/{{res.arrowr}}" class="anjian"></div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="mask" *ngIf='photoshow2==true || photoshow==true' (click)='xiaoshi()'></div>


  <div class="shadow padding-10 margin-20">
    <div
      class="card-header bg-white py-3 no-border d-flex flex-row align-items-center justify-content-between padding-10">
      <h6 class="m-0 font-weight-bold txt-black border-left-primary">&nbsp;报价处理</h6>
    </div>
    <div class="border-gray-1 padding-10 margin-bottom-20" *ngFor='let fitem of fittinglist'>
      <div class='h8'>配件名称 ：{{fitem.name}}</div>
      <div class='h8 flex-row flex-center'>零&nbsp; 件&nbsp; 号：<span class="text-center h8"
          *ngIf='fitem.partnubmer!=""'>{{fitem.partnubmer}}</span>
        <span class="text-center h8" *ngIf='fitem.partnubmer==""'>无识别</span>
        <div class="flex-1"></div>
        <div class="h8" *ngIf='fitem.photoLen>0'>零件图片：<span class="h8" style='color:#3d61b4;cursor: pointer;' (click)='showPhoto(item)'>查看图片</span></div>
      </div>

      <div *ngIf='photoshow==true'>
        <div class="carousel-item active" *ngFor='let iimgs of fitem.img;let k=index;'>
    
          <div class=" {{seq2==k?'zoomImage':''}}" [style.background-image]="'url('+uploadpath+'fittings/'+iimgs+')'">
          </div>
        </div>
       
          <div class="zuo" (click)='pre2(fitem.photoLen)'><img src="{{uploadpath}}resource/{{res.arrowl}}" class="anjian"/></div>
       
        
          <div class="you"  (click)='nex2(fitem.photoLen)'><img src="{{uploadpath}}resource/{{res.arrowr}}" class="anjian"></div>
        
      </div>

      <div class="flex-row flex-center">
        <div class='h8'>数<span class="h8 margin-left-30">量 ：</span>{{fitem.quantity}}</div>
        <div class="flex-1"></div>
        <div class='h8'>4S店价格 ：{{fitem.Sprice}}</div>
      </div>
      <div class="height-5"></div>
      <div class="h8 flex-row flex-center">品质/品牌：
        <div class="flex-1"></div>
        <input class="h8 inputs borinp" [(ngModel)]='fitem.quality' type="text">
        <div class="flex-1"></div>
      </div>
      <div class="height-5"></div>
      <div class="h8 flex-row flex-center">备货时间 ：<div class="flex-1"></div><input [(ngModel)]='fitem.standby_time'
          class="h8 inputs borinp" type="text">
        <div class="flex-1"></div>
      </div>
      <div class="height-5"></div>
      <div class="h8 flex-row flex-center">质&nbsp; 保&nbsp; 期：<div class="flex-1"></div><input
          [(ngModel)]='fitem.guarantee' class="h8 inputs borinp" type="text">
        <div class="flex-1"></div>
      </div>
      <div class="height-5"></div>
      <div class="h8 flex-row flex-center">单<span class="h8 margin-left-30">价 ：</span>
        <div class="flex-1"></div><input [(ngModel)]='fitem.price' class="h8 inputs borinp" type="text">
        <div class="flex-1"></div>
      </div>
      <div class="height-5"></div>
      <div class="h8 flex-row flex-center">发车时间 ：<div class="flex-1"></div><input [(ngModel)]='fitem.sendcar_time'
          class="h8 inputs borinp" type="text">
        <div class="flex-1"></div>
      </div>
      <div class="height-5"></div>
      <div class="flex-row flex-center">
        <div class="flex-1"></div>
        <div class="h8 ty" (click)="addQuote(fitem)">新增报价</div>
      </div>
      <div class="height-5"></div>
      <div *ngIf='fitem.count>1'>
        <div class="border-gray-1 padding-10 margin-bottom-10" *ngFor='let list of fitem.quoteitems'>
          <div class="h8 flex-row flex-center">品质/品牌：{{list.quality}}
            <div class="flex-1"></div>
            <div class="h8 shan" (click)="deleteQuote(list)">删除报价</div>
          </div>
          <div class="h8">备货时间 ：{{list.standby_time}}</div>
          <div class="h8">质&nbsp; 保&nbsp; 期：{{list.guarantee}}</div>
          <div class="h8">单<span class="h8 margin-left-30">价 ：{{list.price}}</span></div>
          <div class="h8">发车时间 ：{{list.sendcar_time}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="height-20"></div>
  <div class="flex-row flex-column ">
    <div class="h8 ty" (click)='baojias(operatorinfo.enterprise.id)'>提交报价</div>
  </div>
</ion-content>