<ion-header *ngFor='let item of list3;let i=index; '>
  <ion-toolbar *ngIf='i==0'>
    <img src="{{uploadpath}}resource/{{res.fanhui}}" (click)='back()' class='icon-10'>
    <ion-title *ngIf='item.order_status=="W"'>等待卖家付款</ion-title>
    <ion-title *ngIf='item.order_status=="L"'>供应商发货</ion-title>
    <ion-title *ngIf='item.order_status=="M"'>等买家收货</ion-title>
    <ion-title *ngIf='item.order_status=="N"'>交易成功</ion-title>
    <ion-title *ngIf='item.order_status=="E"'>订单已取消</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-row margin-10">
    <div class="flex-1"></div>
    <div class="h8 dayin" (click)='print()'>打印</div>
  </div>
    <div *ngFor='let lists of list3;let i=index;'>
  <div *ngIf='i==0' class="padding-10 margin-10 shadow" >
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold txt-black border-left-primary">&nbsp;收货人信息</h6>
    </div>

    <div class="h8">收货人：{{lists.receiver}}</div>
    <div class="h8">电话：{{lists.receivecontact}}</div>
    <div class="h8">地址：{{lists.receiveaddress}}</div>
  </div>
  <div *ngIf='i==0' class="padding-10 margin-10 shadow">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold txt-black border-left-primary">&nbsp;订单信息</h6>
    </div>
    <div class="h8">公司名称：{{lists.baojiacom}} </div>
    <div class="h8">订单编号：{{lists.orderno}} </div>
    <div class="h8">车架号： <span *ngIf='lists.vin!=""' class="h8">{{lists.vin}}</span>
      <span *ngIf='lists.vin==""' class="h8">无识别</span></div>
    <div class="h8">备注：<span *ngIf='lists.remarks!=""' class="h8">{{lists.remarks}}</span>
      <span *ngIf='lists.remarks==""' class="h8">无</span></div>
    <div class="h8">报价时间：{{lists.quote_time}}</div>
    <div class="h8">车型： <span *ngIf='lists.carname!=""' class="h8">{{lists.carname}}</span>
      <span *ngIf='lists.carname==""' class="h8">无识别</span></div>
    <div class="h8">下单员：{{lists.baojiaperson}}</div>
    <div class="h8">发票需求：<span class="txt-red h8" *ngIf='lists.needinvoice=="是"'>需要发票</span>
      <span class="h8" *ngIf='lists.needinvoice=="否"'>不需要发票</span></div>
  </div>
</div>
  <div class="padding-10 margin-10 shadow">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold txt-black border-left-primary">&nbsp;送货清单</h6>
    </div>
    <div class="border-gray-1 padding-10 margin-10" *ngFor='let item of orderItem;let i=index'>

      <div class="flex-row flex-center" >
        <div class="h8">配件名称： {{item.parts}}</div>
        <div class="flex-1"></div>
        <div class="h8">数量：{{item.qty}}</div>
      </div>
      <div class="flex-row flex-center">
        <div class="h8">零件号：{{item.mcid}}</div>
        <div class="flex-1"></div>
        <div class="h8">单价：{{item.price}}</div>
      </div>
      <div class="flex-row flex-center">
        <div class="h8">品质/品牌：{{item.quality}}</div>
        <div class="flex-1"></div>
        <div class="h8">备货时间：{{item.standby_time}}</div>

      </div>
      <div class="flex-row flex-center">
        <div class="h8">质保期：{{item.guarantee}}</div>
        <div class="flex-1"></div>
        <div class="h8">发车时间：{{item.sendcar_time}}</div>
      </div>


    </div>

  </div>

<div *ngFor='let lists of list3;let i=index;'>
  <div class="flex-row flex-center text-center shadow" *ngIf='i==0'>
    <div class="flex-1"></div>
    <div class="h8">总计：</div>
    <div class="h7 txt-red margin-right-10">￥ {{lists.totalamount}}</div>
    <div class="h8 ty" (click)='fahuo()' *ngIf='lists.order_status=="L"'>立即发货</div>
    <div class="flex-1"></div>
  </div>
</div>
</ion-content>