
.quotation {
    background-color: rgba(0,0,0,0.03);
}

.txt-d-gray {
    color: #8A8A8A;
}

.padding-42 {
    padding: 2px 22px;
}

.active {
    font-size: 25px;
    color: #3d61b4;
    margin: 20px 20px 0 20px;
    a {
        border-bottom: 2px solid #3d61b4;
        margin-top: 5px;
    }
}

.box-hide {
    display: none;
}

.border-trb {
    border-top: 1px solid #B9B9B9;
    border-right: 1px solid #B9B9B9;
    border-bottom: 1px solid #B9B9B9;
}

.border-tlb {
    border-top: 1px solid #B9B9B9;
    border-left: 1px solid #B9B9B9;
    border-bottom: 1px solid #B9B9B9;
}

.border-tlb-r {
    border-top: 1px solid #B9B9B9;
    border-left: 1px solid #B9B9B9;
    border-bottom: 1px solid #B9B9B9;
    border-right: 1px solid #B9B9B9;
}

.btn-active {
    background:  #007bff;
    color: #ffffff;
    border-color: #007bff;
}

.box-auto {
    margin: 0 auto;
}

.tab-mid {
    vertical-align: middle !important;
}

.cursor-pointer {
    cursor: pointer;
}

.pagActive {
    background: #007bff;
    a {
        color: #fff;
    }
}

.padding-left-17 {
    padding-left: 17px;
}

.padding-right-17 {
    padding-right: 17px;
}
