<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>管理中心</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/">首页</a></li>
            <li class="breadcrumb-item active">管理中心</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">


      <div class="row">
        <div class="col-md-3">
          <!-- Profile Image -->
          <!-- <div class="card card-primary ">
            <div class="card-header">
            </div>
            <div class="card-body box-profile" *ngIf="memberinfo!=null">
              <div class="text-center">
                <img *ngIf='memberinfo.enterprise.logo!=""'
                  src="{{uploadpath}}enterprise/{{memberinfo.enterprise.logo}}"
                  class="profile-user-img img-fluid img-circle" alt="User Image">
                <img *ngIf='memberinfo.enterprise.logo==""' src="{{uploadpath}}resource/{{res.touxiang}}"
                  class="profile-user-img img-fluid img-circle" alt="User Image">
              </div>

              <h3 class="profile-username text-center">{{memberinfo.name}}</h3>

              <p class="text-muted text-center">
                {{memberinfo.position=='B'?"老板":""}}
                {{memberinfo.position=='C'?"员工":""}}</p>
            </div>
          </div> -->
          <!-- /.card -->

          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-12">
          <div class="card">
            <div class="card-header p-2 bg-gray-d">
              <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link" [class.active]='tabtype=="account"' (click)='tabtype="account"'
                    data-toggle="tab">我的账户</a></li>
                <li class="nav-item"><a class="nav-link" [class.active]='tabtype=="yeji"' (click)='tabtype="yeji"'
                    data-toggle="tab">我的业绩</a></li>

              </ul>
            </div><!-- /.card-header -->

            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane" [class.active]='tabtype=="account"' *ngIf='tabtype=="account"'>

                  <form class="form-horizontal" *ngIf='memberinfo!=null'>
                    <div class="form-group row">
                      <!-- <label for="inputName" class="col-sm-2 col-form-label">{{lang.corporatename}}</label> -->
                      <div class="text-center">
                        <img *ngIf='memberinfo.enterprise.logo!=""'
                          src="{{uploadpath}}enterprise/{{memberinfo.enterprise.logo}}"
                          class="profile-user-img img-fluid img-circle" alt="User Image">
                        <img *ngIf='memberinfo.enterprise.logo==""' src="{{uploadpath}}resource/{{res.touxiang}}"
                          class="profile-user-img img-fluid img-circle" alt="User Image">
                      </div>
                      <div class="margin-left-40">
                        <h5>{{memberinfo.name}} <span class="h6 margin-left-10">{{memberinfo.position_name}}</span></h5>
                        <p class="h5">{{memberinfo.enterprise.name}}</p>
                        <div class="h6">
                            <span class="margin-right-40">
                                <img src="{{uploadpath}}resource/{{res.authentication}}" class="icon-25 margin-right-10" style="background-blend-mode:lighten;" />已认证
                            </span>
                            <span>
                                <img src="{{uploadpath}}resource/{{res.return}}" class="icon-25 margin-right-10" />包退换
                            </span>
                        </div>
                    </div>
                    </div>

                  </form>


                </div>

                <div class="tab-pane" [class.active]='tabtype=="companyfile"' *ngIf='tabtype=="companyfile"'>

                  <form class="form-horizontal">
                    <!--                    
                    <div class="clearfix">
                      <nz-upload nzAction="{{uploadapi}}?module=manpower&field=file&rettype=json" nzListType="picture" [(nzFileList)]="fileList1"  (nzChange)="afterupload($event)">
                        <button nz-button><i nz-icon nzType="upload"></i>Upload</button>
                      </nz-upload>
                    </div>


                    <div class="form-group row margin-top">
                      <div class="offset-sm-2 col-sm-10">
                        <button class="btn btn-primary " (click)='saveziliao()'>Save</button>
                      </div>
                    </div> -->
                  </form>


                </div>

                <div class="tab-pane" [class.active]='tabtype=="resetpassword"' *ngIf='tabtype=="resetpassword"'>

                  <form class="form-horizontal">
                    <!-- <div class="form-group row">
                      <label for="inputName" class="col-sm-2 col-form-label">{{lang.jiumima}}</label>
                      <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputName" placeholder="oldpassword"
                          name="oldpassword" [(ngModel)]='oldpassword'>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputEmail" class="col-sm-2 col-form-label">{{lang.xinmima}}</label>
                      <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputEmail" placeholder="newpassword"
                          name="newpassword" [(ngModel)]='newpassword'>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputName2" class="col-sm-2 col-form-label">{{lang.chongfuxinmima}}</label>
                      <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputName2" placeholder="newpassword"
                          name="newpassword2" [(ngModel)]='newpassword2'>
                      </div>
                    </div> -->
                    <div class="form-group row">
                      <div class="offset-sm-2 col-sm-10">
                        <button type="submit" (click)='resetpwd()' class="btn btn-primary ">Submit</button>
                      </div>
                    </div>
                  </form>


                </div>



              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          </div>


          <!-- /.nav-tabs-custom -->
        </div>



        <!-- /.col -->
      </div>
      <!-- /.row -->





    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->