<div class="bg-gradient-primary loginbody">
  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block ">
                  <img src="{{uploadpath}}resource/{{res.loginpic}}" class="loginpic" />
              </div>
              <div class="col-lg-6"  *ngIf='isforget==false'>
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">{{InstInfo.systemname}}</h1>
                  </div>
                  <div class="user">
                    <div class="form-group">
                      <i class="fas fa-fw fa-user faicon"></i>
                      <input type="text" class="form-control form-control-user" id="exampleInputEmail"
                      (keyup)='clearPopover()'
                       name='loginname' [(ngModel)]="loginname" placeholder="请输入账户手机号" maxlength='11'>
                    </div>
                    <div class="form-group">
                        <i class="fas fa-fw fa-unlock-alt faicon"></i>
                      <input type="password" class="form-control form-control-user" id="exampleInputPassword"
                        placeholder="输入密码" (keyup)='clearPopover()'
                         triggers=""  [isOpen]="isOpen" [popover]='submitresult' placement='bottom'
                          [(ngModel)]="password" name='password'>
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck" [(ngModel)]='isremember'>
                        <label class="custom-control-label" for="customCheck"  >自动记住账户与密码</label>
                        <span class="txt-red margin-left-30" (keyup)='clearPopover()'>{{error}}</span>
                      </div>
                      
                    </div>
                    <button  (click)='trylogin()' class="btn  btn-user btn-block" [class.btn-primary]='loginname!=""&&password!=""' [class.btn-secondary]='loginname==""||password==""' >
                      登录
                    </button >
                  </div>
                  <hr>
                  <div class="text-center">
                    <a class="small cursor-pointer" (click)='forgetpass()'>忘记密码?</a>
                  </div>
                </div>
              </div>

              <div class="col-lg-6" *ngIf='isforget'>
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-2">忘记密码?</h1>
                      <p class="mb-4">请输入手机号码，我们将通过短信获取验证码！</p>
                    </div>
                    <form class="user">
                      <div class="form-group">
                        <input type="tel" [disabled]="inverify==true"  class="form-control form-control-user" [(ngModel)]='telephone'  placeholder="请输入手机号码" maxlength='11'>
                      </div>
                      <div class="flex-1 flex-row flex-center padding-bottom-10" style="border-bottom:1px solid #D6D7D9">
                        <input [disabled]="inverify==true" placeholder="请输入验证码" [(ngModel)]="yanzhenma" maxlength='30'
                          class="flex-1 h5">
                        <div *ngIf="!diyici" (click)="sendVerifyCode()" class="h5" style="color:#673AB7">获取验证码</div>
            
                        <div class="h5 txt-gray"  *ngIf="reminder>0">{{reminder}}秒后重新发送</div>
                        <div class="h5 txt-primary"  (click)="sendVerifyCode()" *ngIf="reminder<0">重新发送</div>

                      </div>
                      <a (click)='resetPwd()' class="btn btn-primary btn-user btn-block">
                        重置密码
                      </a>
                    </form>
                    <hr>
                    <div class="text-center">
                      <a class="small cursor-pointer" (click)='backlogin()'>返回登录</a>
                    </div>
                  </div>
                </div>

            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>




