
<div style="width:50%;margin:0 auto">

    <div class="flex-row flex-center bg-btn padding-20">
        <img src="{{uploadpath}}resource/{{res.fanhui}}" (click)='back()' class="icon">
        <div class="flex-1"></div>
        <div class="txt-white">我的地址</div>
        <div class="flex-1"></div>
    </div>
    <div class='flex-row flex-column' *ngIf="addresslist.length==0 ">
        <img class='null_icon1 padding-40 ' src='{{uploadpath}}resource/{{res.nulladdress}}' />
        <div class=''>亲，您还没有收货地址哦</div>
      </div>
      
      <div *ngFor="let item of addresslist"  class="flex-row flex-center padding-20" style='border-bottom: 1px solid #ccc;'>
      
      
        <div class="flex-1" (click)="bindchuandizhi(item.id)" >
          <div class='flex-row flex-wrap   '>
            <div class='txt-black txt-bold'>{{item.name}}</div>
            <div class='txt-black txt-bold margin-left-30 '>{{item.phonenumber}}</div>
      
            <div class='h5 bg-btn mobtn  margin-left-30' *ngIf='item.morenaddress_value=="Y"'>默认</div>
      
          </div>
          <div class='margin-top-20 margin-right-30'>{{item.region}}{{item.address}}</div>
        </div>
      
      
      
      
        <div class=''>
          <img class='icon  margin-right-20' src='{{uploadpath}}resource/{{res.edit}}' (click)='bindedit(item.id)' >
        </div>
      
      
      
      </div>
      
      
      <div class="addbtn" (click)='bindaddressadd()'>+ 添加地址</div>

</div>
