<div class="container-fluid">
        
        <!-- DataTales Example -->
        <div class="card shadow mb-4">

          <div class="quotation">
            <ul class="nav nav-tabs flex-row flex-bottom no-border toggleTitle">
                <li class="active flex-3 text-right"><a>报价中心</a></li>
                <li class="flex-3"><a>报价记录</a></li>
            </ul>
          </div>

         <div class="toggleTitleContent">

            <div class="card-body">
              <div class="margin-bottom-20" role="group" aria-label="...">
                  <button type="button" class="btn-active btn-default no-border border-tlb padding-left-40 padding-right-40 txt-d-gray"><a>待报价</a></button>
                  <button type="button" class="btn-default no-border border-tlb-r padding-left-40 padding-right-40 txt-d-gray"><a>已忽略</a></button>           
              </div>
              <div class="table-responsive">
                <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                  <thead class="bg-gray">
                    <tr>
                      <th>序号</th>
                      <th>发票要求</th>
                      <th>订单编号</th>
                      <th>车型/车架号</th>
                      <th>配件清单</th>
                      <th>图片附件</th>
                      <th>询价时间</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of data; let i=index">
                    <tr>
                      <td>{{i+1}}</td>
                      <td>
                          <div *ngIf='item.invoice_demand=="是"' class="bg-red txt-white">发票</div>
                      </td>
                      <td>{{item.quotenumber}}</td>
                      <td class="text-left">{{item.carmodel}} <br> {{item.vincode}} </td>
                      <td><div *ngFor="let itemName of item.quoteitems">{{itemName.name}}</div></td>
                      <td [ngSwitch]="item.carmodel==''">
                        <div *ngSwitchCase='true'>
                          <img [hidden]='item.frontofcar == "" || item.frontofcar == "undefined"' src="{{uploadpath}}quote/{{item.frontofcar}}" class="icon-60" />
                          <img [hidden]='item.namesplate == "" || item.namesplate == "undefined"' src="{{uploadpath}}quote/{{item.namesplate}}" class="icon-60" />
                          <img [hidden]='item.rearofcar == "" || item.rearofcar == "undefined"' src="{{uploadpath}}quote/{{item.rearofcar}}" class="icon-60" />
                        </div>
                        <div *ngSwitchCase='false'>
                            <img [hidden]='item.photo1 == "" || item.photo1 == "undefined"' src="{{uploadpath}}quote/{{item.photo1}}" class="icon-60" />
                            <img [hidden]='item.photo2 == "" || item.photo2 == "undefined"' src="{{uploadpath}}quote/{{item.photo2}}" class="icon-60" />
                        </div>
                      </td>
                      <td>{{item.quote_time}}</td>
                      <td>
                          <button class="btn btn-primary" (click)="tiaozhuan(item.id)"><a>立即报价</a></button><br>
                          <button class="btn btn-default txt-blue">忽略</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="flex-row flex-column">
                  <ul class="pagination cursor-pointer">
                      <li class="margin-10 padding-10">共{{length}}条</li>
                      <li class="border-gray-1 margin-10 padding-10" role='button' (click)="fristPage()">
                          <a >
                            <span aria-hidden="true">首页</span>
                          </a>
                        </li>
                      <li class="border-gray-1 margin-10 padding-left-17 padding-right-17" role='button'  (click)="Previous()">
                        <a>
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li class="border-gray-1 margin-10 padding-left-17 padding-right-17" *ngFor="let page of pageList"  
                      [ngClass]="{pagActive: isActivePage(page)}" role='button'  (click)='selectPage(page)'>
                        <a>{{page}}</a>
                      </li>
                      <li class="border-gray-1 margin-10 padding-left-17 padding-right-17" role='button'  (click)="lastPage()">
                          <a>
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      <li class="border-gray-1 margin-10 padding-10" role='button' (click)="lastPage()">
                          <a >
                            <span aria-hidden="true">尾页</span>
                          </a>
                        </li>
                    </ul>
              </div>
            </div>

            <div class="card-body box-hide">
                  <div class="margin-bottom-20 toggleBtns" role="group" aria-label="...">
                          <button type="button" class="btn-active btn-default no-border border-tlb padding-left-40 padding-right-40 txt-d-gray"><a>已报价</a></button>
                          <button type="button" class="btn-default no-border border-tlb padding-left-40 padding-right-40 txt-d-gray"><a>已忽略</a></button>        
                          <button type="button" class="btn-default no-border border-tlb-r padding-left-40 padding-right-40 txt-d-gray"><a>全部</a></button>       
                  </div>
                <div class="btnContents">
                  <!-- 已报价 -->
                  <div> 
                    <div class="table-responsive">
                      <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                        <thead class="bg-gray">
                          <tr>
                            <th>序号</th>
                            <th>发票要求</th>
                            <th>订单编号</th>
                            <th>车型/车架号</th>
                            <th>配件清单</th>
                            <th>图片附件</th>
                            <th>询价时间</th>
                            <th>操作</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td class="text-center">
                                <div class="bg-red txt-white">发票</div>
                            </td>
                            <td>19072500000001</td>
                            <td>哈佛 H6 2012款 1.5T手动两驱都是型 <br> LGWEF4A57CF147429</td>
                            <td>刹车总泵x1</td>
                            <td>
                              <img src="{{uploadpath}}resource/{{res.picfujian}}" class="icon-60" />
                            </td>
                            <td>2019/07/25 18.25</td>
                            <td class="text-center">
                                <button class="btn btn-primary" routerLink="/detailsOfQuotedPrice"><a>查看详情</a></button><br>
                                <button class="btn btn-default txt-orange">等待卖家付款</button>
                            </td>
                          </tr>
                          <tr>
                                <td>2</td>
                                <td>
                                    <!-- <div class="bg-red txt-white">发票</div> -->
                                </td>
                                <td>19072500000001</td>
                                <td>哈佛 H6 2012款 1.5T手动两驱都是型 <br>LGWEF4A57CF147429</td>
                                <td>刹车总泵x1</td>
                                <td>无</td>
                                <td>2019/07/25 18.25</td>
                                <td class="text-center">
                                    <button class="btn btn-primary" routerLink="/detailsOfQuotedPrice"><a>查看详情</a></button><br>
                                    <button class="btn btn-default txt-orange">等待卖家付款</button>
                                </td>
                              </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- <div class="flex-row flex-column">
                        <ul class="pagination">
                            <li class="border-gray-1 margin-10 padding-10">
                              <a aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                            <li class="border-gray-1 margin-10 padding-10"><a>1</a></li>
                            <li class="border-gray-1 margin-10 padding-10"><a>2</a></li>
                            <li class="border-gray-1 margin-10 padding-10"><a>3</a></li>
                            <li class="border-gray-1 margin-10 padding-10"><a>4</a></li>
                            <li class="border-gray-1 margin-10 padding-10"><a>5</a></li>
                            <li class="border-gray-1 margin-10 padding-10">
                              <a aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                          </ul>
                    </div> -->
                  </div>
                  <!-- 已忽略 -->
                  <div class="box-hide">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <thead class="bg-gray">
                            <tr>
                              <th>序号</th>
                              <th>发票要求</th>
                              <th>订单编号</th>
                              <th>车型/车架号</th>
                              <th>配件清单</th>
                              <th>图片附件</th>
                              <th>询价时间</th>
                              <th>操作</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td class="text-center">
                                  <div class="bg-red txt-white">发票</div>
                              </td>
                              <td>19072500000001</td>
                              <td>哈佛 H6 2012款 1.5T手动两驱都是型 <br> LGWEF4A57CF147429</td>
                              <td>刹车总泵x1</td>
                              <td>
                                <img src="{{uploadpath}}resource/{{res.picfujian}}" class="icon-60" />
                              </td>
                              <td>2019/07/25 18.25</td>
                              <td class="text-center">
                                  <button class="btn btn-primary"><a>立即报价</a></button><br>
                              </td>
                            </tr>
                            <tr>
                                  <td>2</td>
                                  <td>
                                      <!-- <div class="bg-red txt-white">发票</div> -->
                                  </td>
                                  <td>19072500000001</td>
                                  <td>哈佛 H6 2012款 1.5T手动两驱都是型 <br>LGWEF4A57CF147429</td>
                                  <td>刹车总泵x1</td>
                                  <td>无</td>
                                  <td>2019/07/25 18.25</td>
                                  <td class="text-center">
                                      <button class="btn btn-primary"><a>立即报价</a></button><br>
                                  </td>
                                </tr>
                          </tbody>
                        </table>
                    </div>
                    <!-- <div class="flex-row flex-column">
                        <ul class="pagination">
                            <li class="border-gray-1 margin-10 padding-10">
                              <a aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                            <li class="border-gray-1 margin-10 padding-10"><a>1</a></li>
                            <li class="border-gray-1 margin-10 padding-10"><a>2</a></li>
                            <li class="border-gray-1 margin-10 padding-10"><a>3</a></li>
                            <li class="border-gray-1 margin-10 padding-10"><a>4</a></li>
                            <li class="border-gray-1 margin-10 padding-10"><a>5</a></li>
                            <li class="border-gray-1 margin-10 padding-10">
                              <a aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                          </ul>
                    </div> -->
                  </div>
              </div>
            </div>

        </div>
          
        </div>

</div>
