
.quotation {
    background-color: rgba(0,0,0,0.03);
}

.padding-42 {
    padding: 2px 22px;
}

.padding-left-17 {
    padding-left: 17px;
}

.padding-right-17 {
    padding-right: 17px;
}


// .active2 {
//     font-size: 25px;
//     color: #3d61b4;
//     margin: 20px 20px 0 20px;
//     a {
//         border-bottom: 2px solid #3d61b4;
//         margin-top: 5px;
//     }
// }

.box-hide {
    display: none;
}

.border-trb {
    border-top: 1px solid #B9B9B9;
    border-right: 1px solid #B9B9B9;
    border-bottom: 1px solid #B9B9B9;
}

.border-tlb {
    border-top: 1px solid #B9B9B9;
    border-left: 1px solid #B9B9B9;
    border-bottom: 1px solid #B9B9B9;
}

.border-tlb-r {
    border-top: 1px solid #B9B9B9;
    border-left: 1px solid #B9B9B9;
    border-bottom: 1px solid #B9B9B9;
    border-right: 1px solid #B9B9B9;
}

.btn-active {
    background:  #007bff;
    color: #ffffff !important;
    border-color: #007bff;
}

.box-auto {
    margin: 0 auto;
}

.txt-d-gray {
    color: #8A8A8A;
}

.cursor-pointer {
    cursor: pointer;
}

.pagActive {
    background: #007bff;
    a {
        color: #fff;
    }
}

.photo {
    position: relative;
    margin-top: 10px;
    .photoLen {
        width: 20px;
        height: 20px;
        background: red;
        border-radius: 50%;
        color: #fff;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        position: absolute;
        left: 51px;
        top: -8px;
    }
    
}

.photoimg {
    margin-top: 5%;
    margin-left: 25%;
    position: relative;
    // min-width: 500px !important;
    // min-height: 300px !important;
    img {
        width: 100%;
        height: 100%;
    }
}

			
			.modal.left .modal-dialog,
			.modal.right .modal-dialog {
                position: fixed;
                top: -27px;
                left: 53%;
				// margin: auto;
				
				height: 100%;
				-webkit-transform: translate3d(0%, 0, 0);
					-ms-transform: translate3d(0%, 0, 0);
					 -o-transform: translate3d(0%, 0, 0);
						transform: translate3d(0%, 0, 0);
			}
		
			.modal.right .modal-content {
                width: 530px;
				height: 100%;
				overflow-y: auto;
			}
			
			.modal.right .modal-body {
                height: 60%;
				padding: 15px 20px 80px;
			}
		
				
			/*Right*/
			.modal.right.fade .modal-dialog {
				right: -320px;
				-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
				   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
					 -o-transition: opacity 0.3s linear, right 0.3s ease-out;
						transition: opacity 0.3s linear, right 0.3s ease-out;
			}
			
			.modal.right.fade.in .modal-dialog {
				right: 0;
			}
		
			/* ----- MODAL STYLE ----- */
			.modal-content {
				border-radius: 0;
				border: none;
			}
		
			.modal-header {
				border: 1px solid #BBBBBB;
                background-color: #D3D3D3;
			}


.disname {
    display: inline-block;
    width: 140px;
    height: 46px;
    border: 1px solid #8A8A8A;
    color: #8A8A8A;
    border-radius: 30px;
    line-height: 46px;
    text-align: center;
    margin-right: 20px;
    margin-top: 30px;
}

.disname-active {
    color: #446AD8;
    border-color: #446AD8;
}

.footbtn {
    width: 140px ;
    height: 46px;
    border-radius: 30px;
}

