.detele {
    background: #afafaf;
    height: 50px;
    width: 95%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bao {
    background: #143779;
    height: 50px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .mar {
    margin-left: 30px;
    margin-top: 35px;
    margin-bottom: 25px;
  }
  
  .posi {
    position: fixed;
    bottom: 0;
    width: 40%;
  }
  