
<div style="width:50%;margin:0 auto;">

    <div class="flex-row flex-center bg-btn padding-20">
        <img src="{{uploadpath}}resource/{{res.fanhui}}" (click)='back()' class="icon">
        <div class="flex-1"></div>
        <div class="txt-white">地址添加</div>
        <div class="flex-1"></div>
    </div>

    <div class="flex-row mar ">
        <div class="">收货人</div>
        <div class=" margin-left-40 ">
          <input placeholder="姓名" name="name" [(ngModel)]="people" >
        </div>
      </div>
      <div class='bott'></div>
      <div class="flex-row mar">
        <div class="">手机号码</div>
        <div class=" margin-left-40 ">
          <input class='' placeholder="请输入手机号码" name="name" maxlength="11"  [(ngModel)]="phone">
        </div>
      </div>
      
      
      <div class='bott'></div>
      
      
      
      <div class="flex-row  mar">
        <div class="">地区</div>
      
        <div class=" margin-left-40 ">
          <!-- <picker mode="region" bindchange="bindRegionChange"> -->
            <input   placeholder="请选择地区" name="name" [(ngModel)]='city'>
          <!-- </picker> -->
          <!-- <select name="userName" class="" [(ngModel)]="city">
            <option aria-checked="true">全部</option>
            <option *ngFor='let item of allenterprise'>{{item.name}}</option>
        </select> -->
        </div>
      
      
        <!-- <div class=" margin-left-40 ">
          <input placeholder="请输入地区地址" name="name" [(ngModel)]="binddizhi">
        </div> -->
      </div>
      
      <div class='bott'></div>
      <div class="flex-row mar">
        <div class="">门牌号</div>
        <div class=" margin-left-40 ">
          <input placeholder="请输入门牌号" name="name"  [(ngModel)]="address" >
        </div>
      </div>
      <div class='bott'></div>
      <div class='flex-row mar '>
        <div class=" ">设置为默认地址</div>
        <div class='flex-1'></div>
      
      
        <img *ngIf='check=="N"' class='icon-25 margin-right-30' src='{{uploadpath}}resource/{{res.bumoren}}'  (click)="bindcheck('N')">
      
        <img *ngIf='check=="Y"' class='icon-25 margin-right-30' src='{{uploadpath}}resource/{{res.moren}}'  (click)="bindcheck('Y')">
      
      
      </div>
      
      <div class='posi flex-row '>
        <div class="detele" (click)="binddetele()" *ngIf="id!=undefined">删除</div>
        <div class="bao" (click)="bindcaocun()">保存</div>
      </div>
</div>
