<div class="flex-row flex-column "  >
    <div class="height-100"></div>
    <div class="box-shadow padding-10 flex-row flex-center">
        <input class=" input  flex-1" maxlength="17" placeholder="请输入17位车架号" focus='true'   [(ngModel)]="neiron">
        <button class="btn h5 bg-blue txt-bold" (click)='bindsearch()'>搜索</button>
    </div>


    <div class=' flex-row flex-center' style='border-bottom:1px solid #ccc;width:320px;height:100px;'>

        <div class='borderleft'></div>
        <div class=' margin-left-10' routerLink="/findadd">历史搜索</div>

        <div class="flex-1"></div>

        <div class=' flex-row flex-center' (click)='bindclear()'>
            <div class=' '>清空</div>
            <img class='icon  margin-left ' src='{{uploadpath}}resource/{{res.clean}}' />
        </div>
 
    </div>


    <div *ngFor='let item of searchhistory' class="block">
        <div class='he' (click)='bindcheck(item.vin)'>
            <div class='  h5 txt-blue'>{{item.carrecord}}</div>
            <div class='flex-row' style='padding-bottom:2rpx;'>
                <div class=" margin-top-35  h5   flex-row txt-blue">{{item.vin}} </div>
                <div class='flex-1'></div>
                <div class="h6 margin-top-35   text-right  flex-row txt-blue">{{item.created_date}}</div>
            </div>
        </div>
    </div>


</div>